{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<br></br>
<h3 align="center">Team interaction over time</h3>
<br></br>
<div class="col-xs-10 col-sm-6 col-md-6">
  <div class="card card-style mb-2">
    <div class="card-body">
      <div class="chart-container" style="position: relative;">
        <h5>Channel posts with replies per week </h5>
        <canvas id="overtime_messages"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
  <div class="card card-style mb-2">
    <div class="card-body">
      <div class="chart-container" style="position: relative;">
        <h5>Prediction for next 4 weeks </h5>
        <canvas id="predictions"></canvas>
      </div>
    </div>
  </div>
</div>

{% block javascript %}
<script>   
    overtime_messages = JSON.parse({{ over_time_messages | tojson }})
    labels = JSON.parse({{ date_labels | tojson }})
    
    new Chart(document.getElementById("overtime_messages"), {
      type: "line",
      data: {
        labels: labels,
        datasets: [{
          label: "# of messages over time",
          data: overtime_messages,
          fill: false,
          borderColor: "rgb(75, 192, 192)",
          lineTension: 0.1
        }]
      },
      options: {
        scales: {
          xAxes: [{
                type: 'time',
                distribution: 'series',
                time: {
                    unit: 'day'
                  }
                }]
              }
            }
          })
          
    overtime_messages_pred = JSON.parse({{ over_time_messages_pred | tojson }})
    labels_pred = JSON.parse({{ date_labels_pred | tojson }})
    
    new Chart(document.getElementById("predictions"), {
      type: "line",
      data: {
        labels: labels_pred,
        datasets: [{
          label: "# of messages over time",
          data: overtime_messages_pred,
          fill: false,
          borderColor: "rgb(75, 192, 192)",
          lineTension: 0.1
        }]
      },
      options: {
        scales: {
          xAxes: [{
                type: 'time',
                distribution: 'series',
                time: {
                    unit: 'day'
                  }
                }]
              }
            }
          }); 
    </script>
    {% endblock %}
    {% endblock %}