{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<br></br>
<h1 align="center">Dashboard</h1>
<br></br>

<div class="card">
  <div class="card-header">
    Hi {{ current_user.first_name }},
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to your user dashboard!</h5>
    <p class="card-text">Here you will find information about how your team works together.</p>
    <br></br>
    <p><a href="{{ url_for('views.message_count') }}">How much do the team member message each other?</a></p>
    <p><a href="{{ url_for('views.graph') }}">Who messages to whom and how much?</a></p>
  </div>
</div>
    {% endblock %}